<div class="form-group">
    <h2>Projeto de segurança</h2>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Validar senha</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label class="control-label">Senha:</label>
            <input type="text" id="password" />
        </div>

        <div class="form-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="validar">Validar</button>
            </span>
        </div>

        <div class="form-group">
            <label class="control-label">Resultado:</label>
            <p id="resultado-validacao" class="alert"></p>
        </div>
    </div>
</div>

<div class="panel panel-default">
    <div class="panel-heading">
        <h3 class="panel-title">Gerar senha</h3>
    </div>
    <div class="panel-body">

        <div class="form-group">
            <label class="control-label">Tamanho:</label>
            <input type="text" id="Length" />
        </div>

        <div class="form-group">
            <label class="control-label">Tipo:</label>
            <select id="ValidationType">
                <option value="weak">Fraca</option>
                <option value="medium">Média</option>
                <option value="strong">Forte</option>
            </select>
        </div>

        <div class="form-group">
            <span class="input-group-btn">
                <button class="btn btn-default" type="button" id="gerar">Gerar</button>
            </span>
        </div>

        <div class="form-group">
            <label class="control-label">Senha Gerada:</label>
            <p id="resultado-gerar"></p>
        </div>
    </div>
</div>


@section Scripts{
    <script>


        $("#validar").click(function () {

            var pass = $("#password").val();
            var $resultado = $("#resultado-validacao");

            $resultado.text("Carregando...");


            $.get('http://localhost:5525/api/validation/', { word: pass })
                .done(function (data) {

                    if (data > 60) {
                        $resultado.addClass("alert-success");
                        $resultado.removeClass("alert-danger");
                        $resultado.removeClass("alert-info");

                        $resultado.text("Senha forte");
                    } else if (data > 40 && data <= 60) {
                        $resultado.addClass("alert-info");
                        $resultado.removeClass("alert-danger");
                        $resultado.removeClass("alert-success");

                        $resultado.text("Senha média");
                    } else {
                        $resultado.addClass("alert-danger");
                        $resultado.removeClass("alert-success");
                        $resultado.removeClass("alert-info");

                        $resultado.text("Senha fraca");
                    }
                });
        });


        $("#gerar").click(function () {
            var Length = $("#Length").val();
            var ValidationType = $("#ValidationType").val();

            var $resultado = $("#resultado-gerar");
            $resultado.text("Gerando senha...");

            $.get('http://localhost:5525/api/generate/', { Length: Length, ValidationType: ValidationType }
			).done(function (data) {
			    $resultado.text(data);
			});
        });
    </script>
}